*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    padding: 10px 70px;
    background-color: rgb(64, 118, 217);
    font-size: 23px;
}

header {
    height: 100px;
    font-size: 80px;
    color: rgb(3, 9, 92);
    background-color: rgb(64, 118, 217);
    align-items: center;
    text-align: center;
}
.border {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 19px;
    background-color: aliceblue;
}

.coluna {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
}
.space {
    margin: 15px 2px 15px 0px;
}

textarea {
    border-radius: 10px;
    border: 1px solid rgb(189, 192, 195);
}
input {
    border-radius: 5px;
    border: 1px solid rgb(189, 192, 195);
    height: 30px;
}
input[type="text"] {
    width: 250px;
}
input[type="id"] {
    width: 100px;
}
input[type="number"] {
    width: 100px;
}
#events {
    margin-top: 20px;
    text-align: center;
}
#tabela {   
    padding: 10px 150px 0px 150px;
    color: black;
    text-align: center;
    align-items: center;
}
.center {
    text-align: center;
}
th {
    padding: 4px;
    width: 100px;
}
table td img {
    width: 25px;
    padding: 1px;
}